<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <title>{{ scale.name }}</title>
  </head>
  <body>
    <h1>{{ scale.name }}</h1>
    <table>
    	<tbody>
        {% for neck in necks %}
          {% for string in neck %}
            <tr>
            {% for fret in string %}
              <td>
              {% if fret != 0 %}
              <div class="{{ fret.get_css_class }}">{{ fret.finger }}</div>
              {% endif %}
              </td>
            {% endfor %}
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
