<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <title>{{ scale.key }} {{ scale.name }}</title>
  </head>
  <body>
    <h1>{{ scale.key }} {{ scale.name }}</h1>
        {% for shape in scale.shape_set.all %}
        <p>Shape {{ shape.number }}</p>
        <table>
          <tbody>
          {% for string in shape.to_table %}
            <tr>
            {% for fret in string %}
              <td>
              {% if fret %}
                <div class="{{ fret.get_css_class }}">{{ fret.finger }}</div>
              {% endif %}
              </td>
            {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endfor %}
  </body>
</html>
